{{> head }} 
{{> navbar }}

<div class="row">

    <div class="col-8">
        <h1>Flash</h1>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id nisi fuga beatae officia perspiciatis? Aliquam suscipit animi doloribus alias in aperiam perspiciatis quibusdam tenetur minima cumque, cupiditate id culpa incidunt!
        </p>
    </div>


    <div class="col-4">
        <img src="assets/img/flash.png" alt="img-thumbnail">
    </div>


</div>





{{> footer }}